#home {
  .leftEye,
  .rightEye {
    position: absolute;
    border-radius: 50%;
    height: 5%;
    width: 5%;
    &::after {
      position: absolute;
      left: 0;
      top: 50%;
      transform: translate(0, -50%);
      width: 30%;
      height: 30%;
      background: #000;
      border-radius: 50%;
      content: " ";
    }
  }

  .leftEye {
    left: 37%;
    top: 38%;
    @media (max-width: 960px) {
      left: 39.8%;
      top: 37.8%;
      transform: rotate(0deg) !important;
    }
  }
  .rightEye {
    right: 40%;
    top: 38%;
    @media (max-width: 960px) {
      right: 37%;
      top: 37.8%;
      transform: rotate(0deg) !important;
    }
  }
}
