@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 0;
}

html{
  scroll-behavior: smooth;
}

body {
  margin: 0;
}

body.dark{
  color: white;
}
body.light{
  color: black;
}